:root{
    --blue:#313552;
    --red:#B8405E;
    --green:#2EB086;
    --creame:#EEE6CE;
}

body{
    background-color: var(--blue);
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    text-align: center;
    color:var(--creame) ;
}
#submit{
    background-color: var(--green);
    outline: none;
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color:var(--blue);
    cursor: pointer;
}
.box{
    height: 70px;
    width: 70px;
border-radius: 50%;
position: relative;
}
