*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.icons{
    margin-top: 4rem;
}
.playArea{
    height: 10rem;
}
.fa-hand-rock,.fa-hand-paper,.fa-hand-scissors{
    font-size: 3rem;
    cursor: pointer;
}
.icons,.playArea{
    display: none;
}
input{
    caret-color: transparent;
    border: none;
    outline: none;
}
.Won{
    display: none;
}